﻿@model GetCategoryWithSubCategoriesDTO

@{
    Layout = null;
}

@if ((Model.SubCategories != null && Model.SubCategories.Count == 0) || Model.SubCategories == null)
{
    <li>
        <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewCategoryProductsRoute, new { categoryName = Model.CategoryName })">@Model.CategoryName</a>
    </li>
}
else if (Model.SubCategories != null && Model.SubCategories.Count > 0)
{
    <li class="has-children">
        <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewCategoryProductsRoute, new { categoryName = Model.CategoryName })">@Model.CategoryName</a>
        <ul class="is-hidden">
            <li class="go-back"><a href="#0"> </a></li>
            <li class="see-all"><a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewCategoryProductsRoute, new { categoryName = Model.CategoryName })">All @Model.CategoryName</a></li>
            @foreach (var item in Model.SubCategories)
            {
                @Html.Partial("_CategoryChildMenu", item)
            }
        </ul>
    </li>
}

