﻿@model List<GetFeaturedProductsByCategoryDTO>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="recommend">
        <h3 class="w3ls-title">Our Recommendations</h3>
        <div id="recommendedProducts" class="owl-carousel">
            @foreach (var featuredProduct in Model.ElementAt(0).FeaturedProducts)
            {
                <div class="item">
                    <div class="glry-w3agile-grids agileits">
                        @if (featuredProduct.Discount > 0)
                        {
                            <div class="new-tag"><h6>@featuredProduct.Discount% <br> Off</h6></div>
                        }
                        <a href="@(Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = featuredProduct.ProductUrl }))">
                            <img data-src="@($"{CazonConstants.Cloudinary.GetProductImageUrl(250,250)}{featuredProduct.DefaultImageName}")" class="img-responsive lazy-load-scroll" alt="@featuredProduct.DefaultImageName">
                        </a>
                        <div class="view-caption agileits-w3layouts">
                            <h4>
                                <a href="@(Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = featuredProduct.ProductUrl }))">
                                    @featuredProduct.ProductName
                                </a>
                            </h4>
                            <p>@featuredProduct.Description</p>
                            @if (featuredProduct.Discount > 0)
                            {
                                <h5>@featuredProduct.DiscountedPrice PKR.</h5>
                            }
                            else
                            {
                                <h5>@featuredProduct.ProductPrice PKR.</h5>
                            }
                            <button type="button" class="w3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}