﻿@model List<GetCategoryWithSubCategoriesDTO>

@{
    Layout = null;
}

<!-- header -->
<div class="header">
    <!--header-one-->
    <div class="w3ls-header">
        <div class="w3ls-header-left">
            <p><a href="#">UPTO $50 OFF ON LAPTOPS | USE COUPON CODE LAPPY </a></p>
        </div>
        <div class="w3ls-header-right">
            <ul>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (CazonIdentityManager.IsLoggedIn)
                        {
                            using (Html.BeginForm<AccountController>(a => a.LogOff(), FormMethod.Post, null, new { @class = "hidden", id= "formLogOff" }))
                            {
                                @Html.AntiForgeryToken();
                            }
                            <li><a href="#" id="btnLogOff">LogOff </a></li>
                        }
                        else
                        {
                            <li><a href="@(Url.Action<AccountController>(a => a.Login("")))">Log In</a></li>
                            <li><a href="@(Url.Action<AccountController>(a => a.Register()))">Register</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-percent" aria-hidden="true"></i> Today's Deals<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@(Url.Action<OffersController>(a => a.Index("cash-back-offer")))">Cash Back Offers</a></li>
                        <li><a href="@(Url.Action<OffersController>(a => a.Index("product-dicsount-offer")))">Product Discounts</a></li>
                        <li><a href="@(Url.Action<OffersController>(a => a.Index("special-offers")))">Special Offers</a></li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift" aria-hidden="true"></i> Gift Cards<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@(Url.Action<OffersController>(a => a.Index("gift-cards")))">Product Gift card</a></li>
                        <li><a href="@(Url.Action<OffersController>(a => a.Index("occasions")))">Occasions Register</a></li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="contact.html" class="dropdown-toggle"><i class="fa fa-map-marker" aria-hidden="true"></i> Store Finder</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="help.html" class="dropdown-toggle"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //header-one-->
    <!-- header-two -->
    <div class="header-two">
        <div class="container">
            <div class="header-logo">
                <h1><a href="@(Url.Action<HomeController>(a => a.Index()))"><span>Cazon.</span></a></h1>
                <h6>Your stores. Your place.</h6>
            </div>
            <div class="header-search">
                <form action="@Url.RouteUrl(RouteConfig.MapRouteNames.SearchRoute, new { SearchText = "" })" method="get">
                    <input type="search" name="SearchText" placeholder="Search for a Product..." required="" autocomplete="off">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>
            </div>
            <div class="header-cart">
                <div class="cart">
                    <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewCartRoute)" class="btn w3view-cart">
                        <i class="fa fa-align-center fa-shopping-cart" aria-hidden="true"></i>
                        @if (WebCartManager.NoOfCartItems > 0)
                        {
                            <span class="shopping-cart-count" id="shoppingCartCount">@WebCartManager.NoOfCartItems</span>
                        }
                        else
                        {
                            <span class="shopping-cart-count" id="shoppingCartCount"></span>
                        }
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header-two -->
    <!-- header-three-->
    <div class="header-three">
        <div class="container">
            <div class="menu">
                <div class="cd-dropdown-wrapper">
                    <a class="cd-dropdown-trigger" href="#0">Store Categories</a>
                    <nav class="cd-dropdown">
                        <a href="#0" class="cd-close">Close</a>
                        <ul class="cd-dropdown-content">
                            <li><a href="@(Url.Action<OffersController>(a => a.Index("today-offer")))">Today's Offers</a></li>
                            @foreach (var mainCategory in Model)
                            {
                                <li class="has-children">
                                    <a href="#">@mainCategory.CategoryName</a>
                                    <ul class="cd-secondary-dropdown is-hidden">
                                        <li class="see-all">
                                            <a href="@Url.RouteUrl("ViewCategoryProducts", new { categoryName = mainCategory.CategoryName })">All @mainCategory.CategoryName</a>
                                        </li>
                                        <li class="go-back"><a href="#">Menu</a></li>
                                        @foreach (var subCategory in mainCategory.SubCategories)
                                        {
                                            @Html.Partial("_CategoryChildMenu", subCategory)
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="move-text">
                <div class="marquee"><a href="@(Url.Action<OffersController>(a => a.Index("new-collection-offer")))"> New collections are available here...... <span>Get extra 10% off on everything | no extra taxes </span> <span> Try shipping pass free for 15 days with unlimited</span></a></div>
            </div>
        </div>
    </div>
    <!-- header-three -->
</div>
<!-- //header -->
