﻿@{
    var CategoriesWithSubCategoriesDTO = ViewBag.CategoriesWithSubCategories as List<GetCategoryWithSubCategoriesDTO>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cazon :: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/App")
    @RenderSection("Styles", required: false)

    <!-- web-fonts -->
    @if (CazonConstants.EnableGoogleFonts)
    {
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    }
    else
    {
        <link href='~/fonts/google-fonts/RobotoCondensed/RobotoCondensed.css' rel='stylesheet' type='text/css'>
        <link href='~/fonts/google-fonts/LoversQuarrel/LoversQuarrel.css' rel='stylesheet' type='text/css'>
        <link href='~/fonts/google-fonts/Offside/Offside.css' rel='stylesheet' type='text/css'>
        <link href='~/fonts/google-fonts/Tangerine/Tangerine.css' rel='stylesheet' type='text/css'>
    }
</head>
<body>
    @Html.Partial("_Header", CategoriesWithSubCategoriesDTO)

    @RenderBody()

    <!-- footer-top -->
    <div class="w3agile-ftr-top lazy-load loading" data-src="../../Images/App/bg1.jpg">
        <div class="container">
            <div class="ftr-toprow">
                <div class="row">
                    <div class="col-md-4 ftr-top-grids">
                        <div class="ftr-top-left">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-top-right">
                            <h4>FREE DELIVERY</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 ftr-top-grids">
                        <div class="ftr-top-left">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-top-right">
                            <h4>CUSTOMER CARE</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 ftr-top-grids">
                        <div class="ftr-top-left">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <div class="ftr-top-right">
                            <h4>GOOD QUALITY</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer-top -->
    <!-- subscribe -->
    <div class="subscribe">
        <div class="container">
            <div class="col-md-6 social-icons w3-agile-icons">
                <h4>Keep in touch</h4>
                <ul>
                    <li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
                    <li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
                    <li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
                    <li><a href="#" class="fa fa-rss icon rss"> </a></li>
                </ul>
                <ul class="apps">
                    <li><h4>Download Our app : </h4> </li>
                    <li><a href="#" class="fa fa-apple"></a></li>
                    <li><a href="#" class="fa fa-windows"></a></li>
                    <li><a href="#" class="fa fa-android"></a></li>
                </ul>
            </div>
            <div class="col-md-6 subscribe-right">
                <h4>Sign up for email and get 25%off!</h4>
                <form action="#" method="post">
                    <input type="text" name="email" placeholder="Enter your Email..." required="">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //subscribe -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-info w3-agileits-info">
                <div class="row">
                    <div class="col-md-4 col-xs-4 address-left agileinfo">
                        <div class="footer-logo header-logo">
                            <h2><a href="@(Url.Action<HomeController>(a => a.Index()))"><span>Cazon</span></a></h2>
                            <h6>Your stores. Your place.</h6>
                        </div>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> 123 San Sebastian, New York City USA.</li>
                            <li><i class="fa fa-mobile"></i> 333 222 3333 </li>
                            <li><i class="fa fa-phone"></i> +222 11 4444 </li>
                            <li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@example.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-xs-8 address-right">
                        <div class="col-md-4 col-xs-4 footer-grids">
                            <h3>Company</h3>
                            <ul>
                                <li><a href="@(Url.Action<HomeController>(a => a.About()))">About Us</a></li>
                                <li><a href="marketplace.html">Marketplace</a></li>
                                <li><a href="@(Url.Action<HomeController>(a => a.Terms()))">Core Values</a></li>
                                <li><a href="@(Url.Action<HomeController>(a => a.Privacy()))">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-4 footer-grids">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="@(Url.Action<HomeController>(a => a.Contact()))">Contact Us</a></li>
                                <li><a href="login.html">Returns</a></li>
                                <li><a href="@(Url.Action<HomeController>(a => a.Faq()))">FAQ</a></li>
                                <li><a href="@(Url.Action<HomeController>(a => a.SiteMap()))">Site Map</a></li>
                                <li><a href="login.html">Order Status</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-4 footer-grids">
                            <h3>Payment Methods</h3>
                            <ul>
                                <li><i class="fa fa-laptop" aria-hidden="true"></i> Net Banking</li>
                                <li><i class="fa fa-money" aria-hidden="true"></i> Cash On Delivery</li>
                                <li><i class="fa fa-pie-chart" aria-hidden="true"></i>EMI Conversion</li>
                                <li><i class="fa fa-gift" aria-hidden="true"></i> E-Gift Voucher</li>
                                <li><i class="fa fa-credit-card" aria-hidden="true"></i> Debit/Credit Card</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <div class="copy-right">
        <div class="container">
            <p>© 2018 - @DateTime.Now.Year Cazon. All rights reserved | <a href="@(Url.Action<HomeController>(a => a.Index()))"> Cazon.</a></p>
        </div>

        @Html.AntiForgeryToken()
    </div>

    <div class="overlay dark hidden" id="overlay"><i class="fa fa-refresh fa-spin"></i> </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Main")
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(function () {
            Menu.Init();
            CazonLazyLoad.Init();
            // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.
            $('.header-two').scrollToFixed();

            // previous summary up the page.
            var summaries = $('.summary');
            summaries.each(function (i) {
                var summary = $(summaries[i]);
                var next = summaries[i + 1];

                summary.scrollToFixed({
                    marginTop: $('.header-two').outerHeight(true) + 10,
                    zIndex: 999
                });
            });

            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

            $('.marquee').marquee({ pauseOnHover: true });

            var menuOptiopnsHeigth = $("div.menu .cd-dropdown-wrapper .cd-dropdown").height();
            $("div.menu .cd-dropdown-wrapper ul.cd-dropdown-content > li.has-children > ul.cd-secondary-dropdown").css("min-height", menuOptiopnsHeigth);

            UserAuth.Init();
            CazonLazyLoad.Init();
        });
    </script>
</body>
</html>