﻿
@{
    ViewBag.Title = "Products Home";
}

@section Styles {
    <link href="~/Content/App/NgTable/ng-table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/App/Select2/select2.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Products <small>Home</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="@(Url.Action<ShopController>(a => a.Index()))">Shops</a></li>
    </ol>
</section>
<!-- // Content Header (Page header) -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info box-solid" ng-app="cazon" ng-controller="ShopController">
                <div class="box-header">
                    <div class="pull-left">
                        <h3 class="box-title"><b>{{IsAdding ? 'Add Shop.' : IsEditing ? 'Edit Shop.' : 'Manage Shops.'}}</b></h3>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-success btn-sm" title="Create New..." ng-click="CreateNew();">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-success btn-sm" title="Refresh All..." ng-click="LoadData();">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="has-error text-danger" ng-show="ShopForm.$error.length > 0">
                        <ul>
                            <li ng-repeat="error in ShopForm.$error">{{error}}</li>
                        </ul>
                    </div>
                    <div ng-class="{hidden:IsEditing || IsAdding}">
                        <table class="table table-bordered table-striped table-hover" show-filter="true" ng-table="TableParams" ng-hide="IsEditing">
                            <tr ng-repeat="shop in $data track by shop.ShopId">
                                <td data-title="'Shop Name'" filter="{ShopName: 'text'}" sortable="'ShopName'">
                                    {{shop.ShopName}}
                                </td>
                                <td data-title="'Registered On'" filter="{RegisteredOn: 'text'}" sortable="'RegisteredOn'">
                                    {{ParseDate(shop.RegisteredOn)}}
                                </td>
                                <td data-title="'Phone Number'" filter="{ShopPhoneNumber: 'number'}" sortable="'ShopPhoneNumber'">
                                    {{shop.ShopPhoneNumber}}
                                </td>
                                <td data-title="'City'" filter="{CityName: 'text'}" sortable="'CityName'">
                                    {{shop.CityName}}
                                </td>
                                <td data-title="'Actions'">
                                    <button class="btn btn-sm btn-primary" ng-click="EditShop(shop.ShopId);">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="DeleteShop(shop.ShopId);">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div ng-class="{hidden:!(IsEditing || IsAdding)}">
                        <form name="ShopForm">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <input type="text" placeholder="Shop Name" class="form-control" ng-model="EditModel.Shop.ShopName" />
                                </div>

                                <div class="form-group" ng-hide="IsAdding">
                                    <label>Registered On</label>
                                    <input type="text" placeholder="Registered On" class="form-control" disabled  ng-model="EditModel.Shop.RegisteredOn"/>
                                </div>

                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="tel" placeholder="Phone Number" class="form-control" ng-model="EditModel.Shop.ShopPhoneNumber" />
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="tel" placeholder="Description" class="form-control" ng-model="EditModel.Shop.ShopDescription" />
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control select2" ng-model="EditModel.Shop.CityId">
                                        <option ng-repeat="city in City.AllCities track by city.Key" value="{{city.Key}}">{{city.Value}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success" ng-click="CancelChanges();">Cancel Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-success" ng-click="SaveChanges();">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="overlay" ng-class="{hidden:!Processing}">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/App/NgTable/ng-table.js"></script>
    <script src="~/Scripts/App/Select2/select2.full.js"></script>
    <script src="~/Scripts/Modules/Services/ShopService.js"></script>
    <script src="~/Scripts/Modules/Controllers/ShopController.js"></script>
    <script>
        $(function () {
            $(".select2").select2({
                width: "100%"
            });
        });
    </script>
}
