﻿@model CazonResult<ViewCartDTO>
@{
    ViewBag.Title = "View Cart";
}
@section Styles {
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='~/Content/App/cart.css' rel='stylesheet' type='text/css'>

}

<style>
</style>

<!-- breadcrumbs -->
<div class="container">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))">Home</a></li>
        <li class="active">Cart</li>
    </ol>
    <div class="clearfix"> </div>
</div>
<!-- //breadcrumbs -->

<div class="container">
    <div class="cazon-cart">
        @if (Model.Result.CartItems.Count > 0)
        {
            <div class="table">
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <tbody>
                        <tr class="main-heading">
                            <th>Images</th>
                            <th class="long-txt">Product Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                        </tr>
                        @foreach (var cartItem in Model.Result.CartItems)
                        {
                            <tr class="cart-item" data-cazon-cartItemId="@cartItem.CartItemId">
                                <td class="cart-item-img">
                                    <div class="product-img">
                                        <img src="@($"{CazonConstants.Cloudinary.GetProductImageUrl(80, 80)}{cartItem.ProductImageName}")" class="img-max">
                                    </div>
                                </td>
                                <td class="cake-text">
                                    <div class="product-text">
                                        <h3><a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = $"{cartItem.ProductName.Replace(" ", "-")}-{cartItem.ProductId}" })">@cartItem.ProductName</a></h3>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="quantity">
                                    <select class="form-control input-small product-quantity">
                                        @for (var quantity = 1; quantity <= 20; quantity++)
                                        {
                                            if (quantity == cartItem.Quantity)
                                            {
                                                <option value="@quantity" selected="selected">@quantity</option>
                                            }
                                            else
                                            {
                                                <option value="@quantity">@quantity</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td class="per-unit-price">
                                    <h4><span>@cartItem.ProductPrice</span> PKR.</h4>
                                </td>
                                <td class="remove">
                                    <h4><span>@cartItem.CartItemPrice</span> PKR.</h4>
                                    <div class="remove-product">
                                        <h5>Remove</h5>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cart-bottom">
                <div class="dis-card">
                    <h2>Discount Code or Voucher</h2>
                    <p>Enter your discount code or voucher to receive a discount on your total order.</p>
                    <form>
                        <input type="text" name="VoucherCode" id="VoucherCode">
                        <input type="submit" value="Apply">
                    </form>
                </div>
                <div class="dis-total">
                    <h1 id="updateCart" class="update-cart">Update Cart</h1>
                    <h1>Total <span>@Model.Result.GetCartTotal()</span> PKR.</h1>
                    <div class="tot-btn">
                        <a class="shop" href="@(Url.Action<HomeController>(a => a.Index()))">Back to Shop</a>
                        <a class="check" href="#">Continue to Checkout</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
        else
        {
            <div class="empty-cart">
                <div class="tot-btn">
                    <p>Ooops, Your cart is empty.</p>
                    <a class="shop" href="@(Url.Action<HomeController>(a => a.Index()))">Add Items...</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            Cart.Init();
        });
    </script>
}
