﻿@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.BodyClasses = "login-page";
}

@section Styles {}

<div class="login-box">
    <div class="login-logo">
        <a href="@(Url.Action<HomeController>(a => a.Index()))"><b>Cazon</b> Admin</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            Please check your email to reset your password.<br />
            @if (!string.IsNullOrEmpty(ViewBag.CallBackUrl))
            {
                <a href="@ViewBag.CallBackUrl">Click here to reset your password.</a><br />
            }
        </p>

        Already have an account? <a href="@(Url.Action<AccountController>(a => a.Login("")))">LogIn</a><br>
        <a href="@(Url.Action<AccountController>(a => a.Register()))" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

@section Scripts {
}
