﻿@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.BodyClasses = "login-page";
}
@section Styles {
    <link rel="stylesheet" href="~/Content/App/iCheck/square/blue.css">
}
<div class="login-box">
    <div class="login-logo">
        <a href="@(Url.Action<HomeController>(a => a.Index()))"><b>Cazon</b> Admin</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        @using (Html.BeginForm<AccountController>(a => a.Login(Model.ReturnUrl), FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            @Html.CheckBoxFor(model => model.RememberMe) Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        }

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using Google+
            </a>
        </div>
        <!-- /.social-auth-links -->

        <a href="@(Url.Action<AccountController>(a => a.ForgotPassword()))">I forgot my password</a><br>
        <a href="@(Url.Action<AccountController>(a => a.Register()))" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

@section Scripts {
    <script src="~/Scripts/App/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/JQuery/jquery.validate.min.js"></script>
    <script src="~/Scripts/JQuery/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}
