﻿@{
    ViewBag.Title = "Reset Password Confirmation";
    ViewBag.BodyClasses = "login-page";
}

@section Styles {}

<div class="login-box">
    <div class="login-logo">
        <a href="@(Url.Action<HomeController>(a => a.Index()))"><b>Cazon</b> Admin</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            Your password has been reset.<br />
            Please <a href="@(Url.Action<AccountController>(a => a.Login("")))">click here to log in</a>
        </p>

        <a href="@(Url.Action<AccountController>(a => a.Register()))" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

@section Scripts {
}




