﻿@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    ViewBag.BodyClasses = "login-page";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/App/iCheck/square/blue.css">
}

<div class="login-box">
    <div class="login-logo">
        <a href="@(Url.Action<HomeController>(a => a.Index()))"><b>Cazon</b> Admin</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Reset your password.</p>

        @using (Html.BeginForm<AccountController>(a => a.ResetPassword(""), FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.Code)

            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8"></div>
                <!-- /.col -->
                <div class="pull-right col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Reset...</button>
                </div>
                <!-- /.col -->
            </div>
        }

        Already have an account? <a href="@(Url.Action<AccountController>(a => a.Login("")))">LogIn</a><br>
        <a href="@(Url.Action<AccountController>(a => a.Register()))" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

@section Scripts {
    <script src="~/Scripts/JQuery/jquery.validate.min.js"></script>
    <script src="~/Scripts/JQuery/jquery.validate.unobtrusive.min.js"></script>
}




