﻿@{
    ViewBag.Title = "Home";
    var featureProducts = ViewBag.CategoryFeatureProducts as List<GetFeaturedProductsByCategoryDTO>;
}

<!-- banner -->
<div class="banner">
    <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
        <!-- Wrapper-for-Slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!-- First-Slide -->
                <img data-src="/Images/App/5.jpg" alt="" class="img-responsive lazy-load loading" />
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated flipInX">Flat <span>50%</span> Discount</h3>
                    <h4 data-animation="animated flipInX">Hot Offer Today Only</h4>
                </div>
            </div>
            <div class="item">
                <!-- Second-Slide -->
                <img data-src="/Images/App/8.jpg" alt="" class="img-responsive lazy-load loading" />
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated fadeInDown">Our Latest Fashion Editorials</h3>
                    <h4 data-animation="animated fadeInUp">cupidatat non proident</h4>
                </div>
            </div>
            <div class="item">
                <!-- Third-Slide -->
                <img data-src="/Images/App/3.jpg" alt="" class="img-responsive lazy-load loading" />
                <div class="carousel-caption kb_caption kb_caption_center">
                    <h3 data-animation="animated fadeInLeft">End Of Season Sale</h3>
                    <h4 data-animation="animated flipInX">cupidatat non proident</h4>
                </div>
            </div>
        </div>
        <!-- Left-Button -->
        <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
            <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!-- Right-Button -->
        <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
            <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- //banner -->

<!-- Featured Products -->
<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="featuredProductsTabs" class="nav-tabs" role="tablist">
                    @foreach (var featureCategoryProduct in featureProducts)
                    {
                    <li role="presentation">
                        <a href="#@featureCategoryProduct.CategoryId" id="@featureCategoryProduct.CategoryId-tab" role="tab" data-toggle="tab">
                            <i class="fa @featureCategoryProduct.CategoryIconName" aria-hidden="true"></i>
                            <h5>@featureCategoryProduct.CategoryName</h5>
                        </a>
                    </li>
                    }
                </ul>
                <div class="clearfix"> </div>
                <h3 class="w3ls-title">Featured Products</h3>
                <div id="featuredProductsTabsContent" class="tab-content">
                    @foreach (var featureCategoryProduct in featureProducts)
                    {
                    <div role="tabpanel" class="tab-pane fade" id="@featureCategoryProduct.CategoryId" aria-labelledby="@featureCategoryProduct.CategoryId-tab">
                        <div class="tabcontent-grids">
                            <div id="owl-demo" class="owl-carousel">
                                @foreach (var featureProduct in featureCategoryProduct.FeaturedProducts)
                                    {
                                    <div class="item">
                                        <div class="glry-w3agile-grids agileits">
                                            <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = featureProduct.ProductUrl })">
                                                <img data-src="@($"{CazonConstants.Cloudinary.GetProductImageUrl(300,250)}{featureProduct.DefaultImageName}")" class="img-responsive lazy-load-scroll" alt="img">
                                            </a>
                                            <div class="view-caption agileits-w3layouts">
                                                <h4><a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = featureProduct.ProductUrl })">@featureProduct.ProductName</a></h4>
                                                <p>@featureProduct.Description</p>
                                                <h5>@featureProduct.ProductPrice PKR.</h5>
                                                <button type="button" class="w3ls-cart cazon-product" data-cazon-ProductId="@featureProduct.ProductId">
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Featured Products -->

<!-- add-products -->
<div class="add-products">
    <div class="container">
        <div class="add-products-row">
            <div class="w3ls-add-grids lazy-load loading" data-src="../../Images/App/img1.jpg">
                <a href="products1.html">
                    <h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <div class="w3ls-add-grids w3ls-add-grids-mdl lazy-load loading" data-src="../../Images/App/img2.jpg">
                <a href="products1.html">
                    <h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <div class="w3ls-add-grids lazy-load loading" data-src="../../Images/App/img3.jpg">
                <a href="products.html">
                    <h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <div class="clerfix"> </div>
        </div>
    </div>
</div>
<!-- //add-products -->

<!-- coming soon -->
<div class="soon lazy-load-scroll loading" data-src="../../Images/App/bg2.jpg" data-lazy-class-remove="invisible">
    <div class="container invisible showAfterLoad">
        <h3>Mega Deal Of the Week</h3>
        <h4>Coming Soon Don't Miss Out</h4>
        <div id="countdown1" class="ClassyCountdownDemo"></div>
    </div>
</div>
<!-- //coming soon -->

<!-- deals -->
<div class="deals">
    <div class="container">
        <h3 class="w3ls-title">DEALS OF THE DAY </h3>
        <div class="deals-row">
            <div class="col-md-3 focus-grid">
                <a href="products.html" class="wthree-btn">
                    <div class="focus-image"><i class="fa fa-mobile"></i></div>
                    <h4 class="clrchg">Mobiles</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="@(@Url.RouteUrl(RouteConfig.MapRouteNames.ViewCategoryProductsRoute, new { CategoryName = "Electronics" }))" class="wthree-btn wthree1">
                    <div class="focus-image"><i class="fa fa-laptop"></i></div>
                    <h4 class="clrchg"> Electronics & Appliances</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products4.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                    <h4 class="clrchg">Furnitures</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products3.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-home"></i></div>
                    <h4 class="clrchg">Home Decor</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products9.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-book"></i></div>
                    <h4 class="clrchg">Books & Music</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products1.html" class="wthree-btn wthree4">
                    <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                    <h4 class="clrchg">Fashion</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products2.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                    <h4 class="clrchg">Kids</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products5.html" class="wthree-btn wthree">
                    <div class="focus-image"><i class="fa fa-shopping-basket"></i></div>
                    <h4 class="clrchg">Groceries</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products7.html" class="wthree-btn wthree5">
                    <div class="focus-image"><i class="fa fa-medkit"></i></div>
                    <h4 class="clrchg">Health</h4>
                </a>
            </div>
            <div class="col-md-2 focus-grid w3focus-grid-mdl">
                <a href="products8.html" class="wthree-btn wthree1">
                    <div class="focus-image"><i class="fa fa-car"></i></div>
                    <h4 class="clrchg">Automotive</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products5.html" class="wthree-btn wthree2">
                    <div class="focus-image"><i class="fa fa-cutlery"></i></div>
                    <h4 class="clrchg">Food</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products4.html" class="wthree-btn wthree5">
                    <div class="focus-image"><i class="fa fa-futbol-o"></i></div>
                    <h4 class="clrchg">Sports</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products2.html" class="wthree-btn wthree3">
                    <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                    <h4 class="clrchg">Games & Toys</h4>
                </a>
            </div>
            <div class="col-md-3 focus-grid">
                <a href="products6.html" class="wthree-btn ">
                    <div class="focus-image"><i class="fa fa-gift"></i></div>
                    <h4 class="clrchg">Gifts</h4>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //deals -->

@section Scripts {
    <script type="text/javascript">
        $(function () {
            Product.Init();
            $(".owl-carousel").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 4,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [414, 4],
                navigation: true

            });

            $("#featuredProductsTabs > li:first-child").addClass("active");
            $("#featuredProductsTabsContent > div:first-child.tab-pane").addClass("active in");

            $('#countdown1').ClassyCountdown({
                end: '1388268325',
                now: '1387999995',
                labels: true,
                style: {
                    element: "",
                    textResponsive: .5,
                    days: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#1abc9c",
                            lineCap: 'round'
                        },
                        textCSS: 'font-weight:300; color:#fff;'
                    },
                    hours: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#05BEF6",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    minutes: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#8e44ad",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    seconds: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#f39c12",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    }

                },
                onEndCallback: function () {
                    console.log("Time out!");
                }
            });
        });
    </script>
}
