﻿
@{
    ViewBag.Title = "Terms";
}

<!-- values-page -->
<div class="values">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Core Values</h3>
        <h5>About Core Values</h5>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas faucibus ipsum et libero euismod iaculis. Integer consectetur congue laoreet. Morbi eget leo elementum, vulputate eros et, egestas diam. Nam egestas, quam id viverra congue, elit mi eleifend libero, eget vulputate ante lorem vel quam. Sed suscipit ligula eu mi bibendum, vel mollis enim finibus. Suspendisse vitae est tortor. Donec aliquet leo vitae ligula mattis, vitae auctor mi pellentesque. Integer eu dui accumsan, convallis neque id, malesuada urna. </p>
        <div class="w3values-row">
            <h5>Here  are some core values :</h5>
            <div class="col-md-6 w3values-grids">
                <h6>1. INNOVATION</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices orci at augue sollicitudin, sed rhoncus leo dictum. Duis sed elit tempus, convallis elit eget, ornare nibh. Sed eu risus eget magna condimentum blandit.  </p>
            </div>
            <div class="col-md-6 w3values-grids">
                <h6>2. NEW TRENDS</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices orci at augue sollicitudin, sed rhoncus leo dictum. Duis sed elit tempus, convallis elit eget, ornare nibh. Sed eu risus eget magna condimentum blandit.  </p>
            </div>
            <div class="col-md-6 w3values-grids">
                <h6>3. OPENNESS</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices orci at augue sollicitudin, sed rhoncus leo dictum. Duis sed elit tempus, convallis elit eget, ornare nibh. Sed eu risus eget magna condimentum blandit.  </p>
            </div>
            <div class="col-md-6 w3values-grids">
                <h6>4. OWNERSHIP</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices orci at augue sollicitudin, sed rhoncus leo dictum. Duis sed elit tempus, convallis elit eget, ornare nibh. Sed eu risus eget magna condimentum blandit.  </p>
            </div>
            <div class="col-md-6 w3values-grids">
                <h6>5. HONESTY</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices orci at augue sollicitudin, sed rhoncus leo dictum. Duis sed elit tempus, convallis elit eget, ornare nibh. Sed eu risus eget magna condimentum blandit.  </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //values-page -->
