﻿div.validation-summary-errors ul {
    list-style-type: none;
    color: #ff0000;
    margin-bottom: 10px;
}

/* overlay style */
.overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    border-radius: 3px;

}
.overlay .fa {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.overlay{ background: rgba(255, 255, 255, 0.7); }
.overlay.dark { background: rgba(0, 0, 0, 0.5); }
/* overlay style */

.lazy-load.loading, .lazy-load-scroll.loading { background-image:url(../../Images/loader.svg); background-repeat: no-repeat; background-position:center; }

