﻿@{
    Layout = null;
}

<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    @if (User.IsInRole(Cazon.Models.Enums.CazonUserRole.Admin.ToString()))
    {
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i> <span>Product Categories</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action<ProductCategoryController>(a => a.Index()))"><i class="fa fa-circle-o"></i> View All</a></li>
            </ul>
        </li>
    }

    @if (User.IsInRole(Cazon.Models.Enums.CazonUserRole.ShopKeeper.ToString()))
    {
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i> <span>Products</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action<ProductController>(a => a.Index()))"><i class="fa fa-circle-o"></i> View All</a></li>
                <li><a href="@(Url.Action<FeaturedProductsController>(a => a.Index()))"><i class="fa fa-circle-o"></i> Featured Products</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i> <span>Shops</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> View All</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-power-off"></i> <span>Sales</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> View All</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> Summer Sales</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> Winter Sales</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-first-order"></i> <span>Orders</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> All</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> New Orders</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> In Progress</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> Disputes</a></li>
                <li><a href="@(Url.Action<ShopController>(a => a.Index()))"><i class="fa fa-circle-o"></i> Track</a></li>
            </ul>
        </li>
    }
</ul>
