﻿@{
    ViewBag.Title = "ExecuteScript";
    var fakeText = @"1234567890abc def ghi jkl mno pqrs tuv wxyz ABC DEF GHI JKL MNO PQRS TUV WXYZ !§ $% & / () =? *'<> #|; ²³~ `´ ©«» ¤¼× {} abc def ghi jkl mno1234567890 pqrs tuv wxyz ABC DEF GHI JKL MNO PQRS TUV WXYZ !§ $%& /() =?* ' <> #|; ²³~ `´ ©«» ¤¼× {} abc def ghi jkl mno pqrs tuv wxyz ABC DEF GHI JKL 1234567890MNO PQRS TUV WXYZ !§ $%& /() =?* '<> #|; ²³~ `´ ©«» ¤¼× {} abc def ghi jkl mno pqrs tuv wxyz ABC DEF GHI JKL MNO PQRS TUV WXYZ !§ $%& /() =?1234567890* '<> #|; ²³~ `´ ©1234567890«» ¤¼× {} abc def ghi jkl mno pqrs tuv wxyz ABC DEF GHI JKL MNO PQRS TUV WXYZ !§ $%& /() =?* '<> #|; ²³~ `´ ©«» ¤¼× {} abc d1234567890ef ghi jkl mno pqrs tuv wxyz ABC DEF GHI JKL MNO PQRS TUV WXYZ !§ $%& /() =?* '<> #|;1234567890 ²³~ `´ ©«» ¤¼× {} abc def ghi jkl mno pqrs tuv wxyz AB1234567890C DEF GHI JKL MNO PQRS TUV WXYZ !§ $%& /() =?* '<> #|; ²³~ `´ ©«» ¤¼× {}abc def ghi jkl mno pqrs tuv wxyz ABC DEF 1234567890GHI";
    var rnd = new Random();
    var shuffled = new string(fakeText.OrderBy(r => rnd.Next()).ToArray()).OrderBy(r => rnd.Next()).ToArray();

    var captcha = Session["ExecuteScriptCaptcha"].ToString().Split('/');
    shuffled[0] = captcha[0][0];
    shuffled[1] = captcha[0][1];
    shuffled[shuffled.Length - 1] = captcha[1][0];
    shuffled[shuffled.Length - 2] = captcha[1][1];

    var yearSum = 0;
    captcha[2].ToList().ForEach(c => { yearSum += int.Parse(c.ToString()); });
    var chars = (yearSum % 3 == 0) ? "ABCDEFGHIJKLMNOPQRSTUVWXYZ" : "01234567890#@%^)#%";
    var secrectAdd = new string(Enumerable.Repeat(chars, 1).Select(s => s[rnd.Next(s.Length)]).ToArray());
    shuffled[shuffled.Length - 3] = secrectAdd[0];
}

<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Select File To Execute It.</h3>
        <div class="login-body">
            @using (Html.BeginForm("ExecuteScript", "DbMigration", FormMethod.Post, new { enctype = "multipart/form-data", id = "scriptForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="file" name="scriptFile" class="form-control" required="required" />
                </div>

                <div class="form-group">
                    <select class="form-control" id="scriptType">
                        <option value="ExecuteScript" selected>Simple Script</option>
                        <option value="ExecuteScriptForResult">For Results</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Enter Captcha:</label>
                    <input type="text" name="captcha" class="form-control" required="required"/>
                </div>

                <div class="form-group">
                    @(new string(shuffled))
                </div>

                <input type="submit" value="Execute...">
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("select#scriptType").on('change', function () {
                debugger;
                var formAction = $("form#scriptForm").attr("action");
                var actionName = formAction.substring(formAction.lastIndexOf('/') + 1);

                var newFormAction = formAction.replace(actionName, $("select#scriptType").val());

                $("form#scriptForm").attr("action", newFormAction);
            });
        });
    </script>
}