﻿h1.update-cart { background: #0b507c; cursor: pointer; }
h1.update-cart:hover { background: #3f3f3f; color: #fff; }
.cazon-cart .table-striped > tbody > tr.main-heading {background:url(../../Images/App/bg.png)#08bce4 no-repeat; background-size: cover; color: #fff;}
.cazon-cart h4, .cazon-cart p { font-size: 100%; }

img-max { max-width: 100%; }

.cazon-cart .table td { vertical-align: middle; text-align: center; }

.cazon-cart { width: 100%; font-family: 'Montserrat', sans-serif; }

.cazon-cart .product-quantity {
    width: 50px;
    height: 37px;
    display: inline-block;
    padding: 9px 0px 8px;
    outline: none;
    text-align: center;
}

.cazon-cart input.product-quantity {
    padding: 10px;
    width: 25%;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    outline: none;
}

.cazon-cart td.product-quantity { text-align: center; vertical-align: middle; }

.cazon-cart td.cart-item-img { padding: 1em 0em; }

.cazon-cart select.dropdown {
    border: none;
    background: #0C517D;
    color: #FFFFFF;
    outline: none;
    font-size: 0.95em;
    vertical-align: -webkit-baseline-middle;
}

.cazon-cart .dis-card { float: left; width: 50%; }

.cazon-cart tr.main-heading th {
    padding: 1em 1.6em;
    font-size: 0.9em;
    font: inherit;
    text-align: center;
}

.product-text { padding: 0em 0em 0em 1em; }

.dis-card h2 { font-size: 1.1em; color: #000; }

.dis-card p {
    font-size: 0.9em;
    color: #000;
    line-height: 1.6em;
    margin: 0.8em 0em 0.8em 0em;
}

.dis-card input[type="text"] {
    font-size: 0.9em;
    color: #000;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.dis-card input[type="submit"] {
    font-size: 0.9em;
    color: #fff;
    padding: 0.6em 1em;
    border: none;
    border-radius: 3px;
    background: #0b507c;
    outline: none;
    cursor: pointer;
}

.dis-card input[type="submit"]:hover { background: #3f3f3f; }

.dis-total { float: right; width: 50%; text-align: right; }

.dis-total h1 {
    font-size: 1.1em;
    color: #000;
    padding: 0.8em 2em;
    margin: 0.7em auto;
    background: #ccc;
    display: inline-block;
    text-align: right;
}

.tot-btn { margin-top: 1.3em; }

.cazon-cart tr.cart-item { border-bottom: 1px solid #ccc; position: relative; }

.tot-btn a.shop {
    font-size: 0.8em;
    color: #FFF;
    padding: 0.8em 1em;
    background: #3f3f3f;
    border-radius: 3px;
}

.tot-btn a.shop:hover { background: #0b507c; }

.tot-btn a.check {
    font-size: 0.8em;
    color: #FFF;
    padding: 0.8em 1em;
    background: #0b507c;
    border-radius: 3px;
}

.product-text h3 { font-size: 0.91em; color: #094e7a; }

.product-text p { font-size: 0.8em; color: #000; line-height: 1.8em; }

.tot-btn a.check:hover { background: #3f3f3f; }

.cazon-cart .cart-bottom { padding: 1.1em 0em 4em 0em; background: #fff; padding: 2em 0em; }

.cazon-cart td.per-unit-price { padding: 0em 1em; }

.cazon-cart .remove-product h5 {
    font-size: 0.75em;
    color: #FFFFFF;
    cursor: pointer;
    background: #0280e1;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cazon-cart .remove-product h5:hover {background: #0c517d; }
.cazon-cart tr td h4 {font-size: 100%;}
.cazon-cart td.remove { position: relative; }

.empty-cart { text-align: center; margin-bottom: 3em; }
.empty-cart .shop {margin-top: 15px; padding: 15px; display: inline-block;}
/*--media quiries start here--*/
@media (max-width:1600px) {
}

@media (max-width:1440px) {
}

@media (max-width:1366px) {
}

@media (max-width:1280px) {
}

@media (max-width:1024px) {
}

@media (max-width:786px) {
    body { min-height: 865px; }
}

@media (max-width:667px) {
    .dis-card p { font-size: 0.8em; }

    .tot-btn a.shop { font-size: 0.75em; }

    .tot-btn { margin-top: 0.9em; }
}

@media (max-width:640px) {
    select.dropdown { font-size: 0.9em; }

    .dis-card p { font-size: 0.8em; }

    .dis-card input[type="text"] { width: 60%; }

    .dis-card input[type="submit"] { width: 30%; font-size: 0.8em; padding: 0.7em 1em; }

    .tot-btn a.check { font-size: 0.7em; }

    .tot-btn a.shop { font-size: 0.7em; }

    .tot-btn { margin-top: 1em; }
}

@media (max-width:600px) {
    .cazon-cart .remove-product h5 {width: 100%;}
}

@media (max-width:568px) {
    .dis-card p { font-size: 0.75em; }

    .tot-btn a.shop { font-size: 0.65em; }

    .tot-btn a.check { font-size: 0.65em; }

    .tot-btn { margin-top: 0.5em; }
}

@media (max-width:480px) {
    .cazon-cart td.cake-text { display: none; }

    .cazon-cart th.long-txt { display: none; }

    .cazon-cart tr.main-heading th { padding: 1em 1.35em; }

    .cazon-cart .dis-card { float: none; width: 100%; margin: 0em 0em 1em 0em; }

    .cazon-cart .dis-total { float: none; width: 100%; }

    .cazon-cart .copy-right p { font-size: 0.85em; }

    .cazon-cart .logo h3 { font-size: 2em; }

    .cazon-cart .logo { margin-top: 1em; }

    .cazon-cart { margin: 0 auto 1em; }

    .cazon-cart .cart-bottom { padding: 1em 1em; }

    .cazon-cart .remove-product h5 { padding: 0.4em 0.8em; font-size: 0.7em; }

    .cazon-cart .remove-product-btm h5 { padding: 0.4em 0.8em; font-size: 0.7em; }
}

@media (max-width:414px) {
    .dis-card { margin: 0em; }
}

@media (max-width:384px) {
    tr.main-heading th { padding: 1em 1em; }

    input.product-quantity { padding: 5px; width: 40%; }
}

@media (max-width:320px) {
    tr.main-heading th { padding: 1em 0.35em; font-size: 0.8em; }

    input.product-quantity { padding: 4px; width: 40%; }

    td.per-unit-price h4 { font-size: 0.8em; }

    h4 { font-size: 0.8em; }

    .dis-card h2 { font-size: 1em; }

    .dis-card p { font-size: 0.75em; margin: 0.5em 0em 0.5em 0em; }

    .dis-card { margin: 0em; }

    .tot-btn { margin: 0.5em 0em; }
}
/*--media quiries end here--*/
