﻿
@{
    ViewBag.Title = "Products Home";
}

@section Styles {
    <link href="~/Content/App/NgTable/ng-table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/App/Select2/select2.css">
    <link type="text/css" rel="stylesheet" href="~/Content/App/DateTimePicker/daterangepicker.css" />
    <style>
        .productImage button {
            margin-top: .5em;
        }

        .defaultImage {
            border: 2px solid #008d4c;
        }

        #shopsList {
            margin-right: 5px;
        }

        #shopsList select {
            min-width: 4em;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Products <small>Home</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="@(Url.Action<ProductController>(a => a.Index()))">Product</a></li>
    </ol>
</section>
<!-- // Content Header (Page header) -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info box-solid" ng-app="cazon" ng-controller="ProductController">
                <div class="box-header">
                    <div class="pull-left">
                        <h3 class="box-title"><b>{{IsAdding ? 'Add Product.' : IsEditing ? 'Edit Product.' : 'Manage Products.'}}</b></h3>
                    </div>

                    <div class="pull-right">
                        <div class="pull-left" id="shopsList">
                            <select class="form-control select2" ng-model="Shops.SelectedShopForSort" ng-change="LoadData();">
                                <option ng-repeat="shop in Shops.AllShops track by shop.Key" value="{{shop.Key}}">{{shop.Value}}</option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-sm" title="Create New..." ng-click="CreateNew();">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-success btn-sm" title="Refresh All..." ng-click="LoadData();">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="has-error text-danger" ng-show="ProductForm.$error.length > 0">
                        <ul>
                            <li ng-repeat="error in ProductForm.$error">{{error}}</li>
                        </ul>
                    </div>

                    <div ng-class="{hidden:IsEditing || IsAdding}">
                        <table class="table table-bordered table-striped table-hover" show-filter="true" ng-table="TableParams" ng-hide="IsEditing">
                            <tr ng-repeat="product in $data track by product.ProductId">
                                <td data-title="'Product Name'" filter="{ProductName: 'text'}" sortable="'ProductName'">
                                    {{product.ProductName}}
                                </td>
                                <td data-title="'Price'" filter="{ProductPrice: 'number'}" sortable="'ProductPrice'">
                                    {{product.ProductPrice}}
                                </td>
                                <td data-title="'Quantity In Stock'" filter="{QuantityInStock: 'number'}" sortable="'QuantityInStock'">
                                    {{product.QuantityInStock}}
                                </td>
                                <td data-title="'Category'" filter="{'ProductCategoryId': 'number'}" sortable="'ProductCategoryId'">
                                    {{GetProductName(product.ProductCategoryId)}}
                                </td>
                                <td data-title="'Actions'">
                                    <button class="btn btn-sm btn-primary" ng-click="EditProduct(product.ProductId);">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="DeleteProduct(product);">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div ng-class="{hidden:!(IsEditing || IsAdding)}">
                        <form name="ProductForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" placeholder="Product Name" class="form-control" min="1" ng-model="EditModel.EditingProduct.ProductName" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Product Price</label>
                                            <input type="number" placeholder="Product Price" min="1" class="form-control" ng-model="EditModel.EditingProduct.ProductPrice" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Quantity In Stock</label>
                                            <input type="number" placeholder="Quantity In Stock" min="1" class="form-control" ng-model="EditModel.EditingProduct.QuantityInStock" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category Name</label>
                                            <select class="form-control select2" ng-model="Categories.SelectedProductCategory">
                                                <option ng-repeat="category in Categories.AllCategories track by category.Key" value="{{category.Key}}">{{category.Value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Shop Name</label>
                                            <select class="form-control select2" ng-model="Shops.SelectedShop">
                                                <option ng-repeat="shop in Shops.AllShops track by shop.Key" value="{{shop.Key}}">{{shop.Value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Discount %</label>
                                            <input type="number" placeholder="Discount %" min="0" class="form-control" ng-model="EditModel.EditingProduct.Discount"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Discount Start From</label>
                                            <input type="datetime" placeholder="Start From" class="form-control" ng-model="EditModel.EditingProduct.DiscountStartFrom"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Discount End On</label>
                                            <input type="datetime" placeholder="End On" class="form-control" ng-model="EditModel.EditingProduct.DiscountEndOn"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Product Description</label>
                                    <textarea cols="30" rows="10" placeholder="Product Description" class="form-control" ng-model="EditModel.EditingProduct.ProductDescription"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>
                                        Product Images&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-success btn-sm" title="Create New..." ng-click="AddNewImage();">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-4 productImage" ng-repeat="image in EditModel.EditingProduct.ProductImages track by $index">
                                            <img class="img-thumbnail img-responsive img-rounded" ng-class="{'defaultImage': image == EditModel.EditingProduct.DefaultImageName}" ng-src="https://res.cloudinary.com/khizariqbalengr/image/upload/cazon/products/{{image}}" alt="{{image}}" />
                                            <button class="btn btn-primary btn-sm pull-right" title="Make Default..." ng-click="MakeImageDefault(image);">
                                                <i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;
                                            </button>
                                            <button class="btn btn-danger btn-sm pull-right" title="Remove image..." ng-click="RemoveImage($index);">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6" ng-class="{'defaultImage': image == EditModel.EditingProduct.DefaultImageName}" ng-repeat="image in EditModel.NewImages">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="file" name="image" class="form-control" ng-model="image.ImageName" onchange="angular.element(this).scope().FileNameChanged(this, angular.element(this).scope().$index)" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary btn-sm pull-right" title="Make Default..." ng-click="MakeImageDefault(image.ImageName);">
                                                    <i class="glyphicon glyphicon-check"></i>
                                                </button>&nbsp;&nbsp;
                                                <button class="btn btn-danger btn-sm pull-right" title="Remove image..." ng-click="RemoveNewImage($index);">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success" ng-click="CancelChanges();">Cancel Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-success" ng-click="SaveProduct();">Save Product</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="overlay" ng-class="{hidden:!Processing}">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/App/NgTable/ng-table.js"></script>
    <script src="~/Scripts/App/Select2/select2.full.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/App/DateTimePicker/daterangepicker.js"></script>
    <script src="~/Scripts/Modules/Services/ProductService.js"></script>
    <script src="~/Scripts/Modules/Services/ShopService.js"></script>
    <script src="~/Scripts/Modules/Controllers/ProductController.js"></script>
    <script>
        $(function () {
            $(".select2").select2({
                width: "100%"
            });


            $("input[type='datetime']").daterangepicker({
                timePicker: true,
                timePickerIncrement: 15,
                singleDatePicker: true,
                showDropdowns: true,
                showClear: true,
                minDate: moment(),
                locale: {
                    format: 'YYYY/MM/DD h:mm a'
                }
            });
        });
    </script>
}
