﻿
@{
    ViewBag.Title = "Password Confirmation";
}

<!-- login-page -->
<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Email Sent Successfully.</h3>
        <div class="login-body">
            Please check your email to reset your password.<br />

            @if (!string.IsNullOrEmpty(ViewBag.CallBackUrl))
            {
                <a href="@ViewBag.CallBackUrl">Click here to reset your password.</a><br />
            }


        </div>
        <h6>
            <a href="@(Url.Action<AccountController>(a => a.Register()))">Sign Up</a>&nbsp;or&nbsp;
            <a href="@(Url.Action<AccountController>(a => a.Login("")))">Login</a>
        </h6>
        <div class="login-page-bottom social-icons">
            <h5>Recover your social account</h5>
            <ul>
                <li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
                <li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
                <li><a href="#" class="fa fa-rss icon rss"> </a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //login-page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

