﻿@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!-- login-page -->
<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Login to your account</h3>
        <div class="login-body">
            @using (Html.BeginForm<AccountController>(c => c.Login(string.Empty), FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                @Html.TextBoxFor(modelItem => modelItem.Email, new { placeholder = "Email" })
                @Html.PasswordFor(modelItem => modelItem.Password, new { placeholder = "Password" })
                <input type="submit" value="Login">

                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Remember me</label>
                <div class="forgot">
                    <a href="@(Url.Action<AccountController>(a => a.ForgotPassword()))">Forgot Password?</a>
                </div>
                <div class="clearfix"> </div>
            </div>

            }
        </div>
        <h6> Not a Member? <a href="@(Url.Action<AccountController>(a => a.Register()))">Sign Up Now »</a> </h6>
        <div class="login-page-bottom social-icons">
            <h5>Recover your social account</h5>
            <ul>
                <li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
                <li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
                <li><a href="#" class="fa fa-rss icon rss"> </a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //login-page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}