﻿@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!-- sign up-page -->
<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Create your account</h3>
        <div class="login-body">
            @using (Html.BeginForm<AccountController>(a => a.Register(), FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                @Html.EditorFor(modelItem => modelItem.FullName, new { htmlAttributes = new { placeholder = "Your name" } })
                @Html.EditorFor(modelItem => modelItem.Email, new { htmlAttributes = new { placeholder = "Your email" } })
                @Html.EditorFor(modelItem => modelItem.PhoneNumber, new { htmlAttributes = new { placeholder = "Your phone number" } })
                @Html.EditorFor(modelItem => modelItem.Password, new { htmlAttributes = new { placeholder = "Your password" } })
                @Html.EditorFor(modelItem => modelItem.ConfirmPassword, new { htmlAttributes = new { placeholder = "enter your password again." } })

                <input type="submit" value="Sign Up " id="btnSignUp" disabled="disabled">

                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" id="cbAgreeTerms"><i></i>I agree to terms and conditions.</label>
                    <div class="forgot">
                        <a href="@(Url.Action<AccountController>(a => a.ForgotPassword()))">Forgot Password?</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }

        </div>
        <h6>Already have an account? <a href="@(Url.Action<AccountController>(a => a.Login("")))">Login Now »</a> </h6>
    </div>
</div>
<!-- //sign up-page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = function () {
            $("#cbAgreeTerms").change(function () {
                if (this.checked) {
                    $("#btnSignUp").removeAttr("disabled");
                } else {
                    $("#btnSignUp").attr("disabled", "disabled");
                }
            });
        }
    </script>
}

