﻿@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<!-- sign up-page -->
<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Create your account</h3>
        <div class="login-body">
            @using (Html.BeginForm<AccountController>(a => a.ResetPassword(""), FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "")
                @Html.HiddenFor(modelItem => modelItem.Code)

                @Html.EditorFor(modelItem => modelItem.Email, new { htmlAttributes = new { placeholder = "Your email" } })
                @Html.EditorFor(modelItem => modelItem.Password, new { htmlAttributes = new { placeholder = "Your new password" } })
                @Html.EditorFor(modelItem => modelItem.ConfirmPassword, new { htmlAttributes = new { placeholder = "enter your new password again." } })

                <input type="submit" value="Reset Password.">
            }

        </div>
        <h6>
            <a href="@(Url.Action<AccountController>(a => a.Register()))">Sign Up</a>&nbsp;or
            <a href="@(Url.Action<AccountController>(a => a.Login("")))">Login</a>
        </h6>
    </div>
</div>
<!-- //sign up-page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = function () {
            $("#cbAgreeTerms").change(function () {
                if (this.checked) {
                    $("#btnSignUp").removeAttr("disabled");
                } else {
                    $("#btnSignUp").attr("disabled", "disabled");
                }
            });
        }
    </script>
}

