﻿
@{
    ViewBag.Title = "Reset Password Confirmation";
}

<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Success.</h3>
        <div class="login-body">
            Your password has been reset.<br />
            <a href="@(Url.Action<AccountController>(a => a.Login("")))">click here to log in</a>
        </div>
    </div>
</div>

