﻿@{ 
    Layout = null;
}

<div class="sidebar-row">
    <h4>@Model.CategoryName</h4>
    <ul class="faq">
        <li class="item1">
            <a href="#">Furniture<span class="glyphicon glyphicon-menu-down"></span></a>
            <ul>
                <li class="subitem1"><a href="#">Bedroom</a></li>
                <li class="subitem1"><a href="#">Dining Room</a></li>
                <li class="subitem1"><a href="#">Office</a></li>
                <li class="subitem1"><a href="#">Kids' Furniture</a></li>
            </ul>
        </li>
        <li class="item2">
            <a href="#">Home Decor<span class="glyphicon glyphicon-menu-down"></span></a>
            <ul>
                <li class="subitem1"><a href="#">Painting</a></li>
                <li class="subitem1"><a href="#">Curtains & Blinds</a></li>
                <li class="subitem1"><a href="#">Patio Furniture</a></li>
                <li class="subitem1"><a href="#">Lighting</a></li>
            </ul>
        </li>
        <li class="item3">
            <a href="#">Kitchen Uses<span class="glyphicon glyphicon-menu-down"></span></a>
            <ul>
                <li class="subitem1"><a href="#">Dinner Sets</a></li>
                <li class="subitem1"><a href="#">Containers & Jars</a></li>
                <li class="subitem1"><a href="#">Food Storage</a></li>
            </ul>
        </li>
    </ul>
</div>
