﻿@{
    Layout = null;
    var discountQuery = "";
    if (Request.QueryString.AllKeys.Contains("discount"))
    {
        discountQuery = Request.QueryString["discount"].ToString();
    }
}

<div class="sidebar-row" id="discountFilter">
    <h4>DISCOUNTS</h4>
    <div class="row row1 scroll-pane">
        <label class="checkbox">
            <input type="checkbox" value="10" @(discountQuery == "10" ? "checked='checked'": "")><i></i>Upto - 10%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="10-20" @(discountQuery == "10-20" ? "checked='checked'": "")><i></i>10% - 20%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="20-30" @(discountQuery == "20-30" ? "checked='checked'": "")><i></i>20% - 30%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="30-40" @(discountQuery == "30-40" ? "checked='checked'": "")><i></i>30% - 40%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="40-50" @(discountQuery == "40-50" ? "checked='checked'": "")><i></i>40% - 50%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="50-60" @(discountQuery == "50-60" ? "checked='checked'": "")><i></i>50% - 60%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="60-70" @(discountQuery == "60-70" ? "checked='checked'": "")><i></i>60% - 70%
        </label>
        <label class="checkbox">
            <input type="checkbox" value="71" @(discountQuery == "71" ? "checked='checked'": "")><i></i>Other
        </label>
    </div>
</div>

