﻿@{ 
    Layout = null;
    var priceRangeQuery = "";
    if (Request.QueryString.AllKeys.Contains("priceRange"))
    {
        priceRangeQuery = Request.QueryString["priceRange"].ToString();
    }
}

<div class="slider-left">
    <h4>Filter By Price</h4>
    <div class="row row1 scroll-pane" id="priceFilter">
        <label class="checkbox">
            <input type="checkbox" value="1-1000" @(priceRangeQuery == "1-1000" ? "checked='checked'" : "")>
            <i></i>1 - 1000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="1001-4000" @(priceRangeQuery == "1001-4000" ? "checked='checked'" : "")>
            <i></i>1001 - 4000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="4001-8000" @(priceRangeQuery == "4001-8000" ? "checked='checked'" : "")>
            <i></i>4001 - 8000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="8001-12000" @(priceRangeQuery == "8001-12000" ? "checked='checked'" : "")>
            <i></i>8001 - 12000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="12001-20000" @(priceRangeQuery == "12001-20000" ? "checked='checked'" : "")>
            <i></i>120001 - 20000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="20001-30000" @(priceRangeQuery == "20001-30000" ? "checked='checked'" : "")>
            <i></i>200001 - 300000
        </label>
        <label class="checkbox">
            <input type="checkbox" value="30001" @(priceRangeQuery == "30001" ? "checked='checked'" : "")>
            <i></i>More
        </label>
    </div>
</div>