﻿@{
    Layout = null;
    var colorQuery = "";
    if (Request.QueryString.AllKeys.Contains("color"))
    {
        colorQuery = Request.QueryString["color"].ToString();
    }
}

<div class="sidebar-row" id="productColorFilter">
    <h4>Color</h4>
    <div class="row row1 scroll-pane">
        <label class="checkbox">
            <input type="checkbox" value="white" @(colorQuery == "white" ? "checked='checked'" : "")>
            <i></i>White
        </label>
        <label class="checkbox">
            <input type="checkbox" value="pink" @(colorQuery == "pink" ? "checked='checked'" : "")>
            <i></i>Pink
        </label>
        <label class="checkbox">
            <input type="checkbox" value="gold" @(colorQuery == "gold" ? "checked='checked'" : "")>
            <i></i>Gold
        </label>
        <label class="checkbox">
            <input type="checkbox" value="blue" @(colorQuery == "blue" ? "checked='checked'" : "")>
            <i></i>Blue
        </label>
        <label class="checkbox">
            <input type="checkbox" value="orange" @(colorQuery == "orange" ? "checked='checked'" : "")>
            <i></i>Orange
        </label>
        <label class="checkbox">
            <input type="checkbox" value="brown" @(colorQuery == "brown" ? "checked='checked'" : "")>
            <i></i> Brown
        </label>
    </div>
</div>