﻿@model ProductBaseDTO
@{
    ViewBag.Title = "Categories";
    var cloudinaryProductImageFolder = CazonConstants.Cloudinary.CloudinaryProductImageFolder;
    var cloudinaryProductImageBaseUrl = CazonConstants.Cloudinary.CloudinaryProductImageBaseUrl;
}

<!-- breadcrumbs -->
<div class="container">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))">Home</a></li>
        <li class="active">View Products</li>
    </ol>
    <div class="clearfix"> </div>
</div>
<!-- //breadcrumbs -->

<!-- products -->
<div class="products">
    <div class="container">
        <div class="col-md-9 product-w3ls-right">
            <div class="product-top">
                <h4>Electronics</h4>
                <ul>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Low price</a></li>
                            <li><a href="#">High price</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Popular</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="row">
                <div class="products-row">
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>20%<br>Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e1.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Audio speaker</a></h5>
                                <h6><del>$200</del> $100</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                    <input type="hidden" name="amount" value="100.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e2.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Refrigerator</a></h5>
                                <h6><del>$700</del> $300</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                    <input type="hidden" name="amount" value="300.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>5% <br> Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e3.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <h6><del>$100</del> $70</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                    <input type="hidden" name="amount" value="70.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e4.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Digital Camera</a></h5>
                                <h6><del>$100</del> $80</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                    <input type="hidden" name="amount" value="80.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e4.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Digital Camera</a></h5>
                                <h6><del>$100</del> $80</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                    <input type="hidden" name="amount" value="80.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>5% <br> Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e3.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <h6><del>$100</del> $70</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                    <input type="hidden" name="amount" value="70.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>20%<br>Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e1.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Audio speaker</a></h5>
                                <h6><del>$200</del> $100</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                    <input type="hidden" name="amount" value="100.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e2.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Refrigerator</a></h5>
                                <h6><del>$700</del> $300</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                    <input type="hidden" name="amount" value="300.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>20%<br>Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e1.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Audio speaker</a></h5>
                                <h6><del>$200</del> $100</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                    <input type="hidden" name="amount" value="100.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e2.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Refrigerator</a></h5>
                                <h6><del>$700</del> $300</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                    <input type="hidden" name="amount" value="300.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>5% <br> Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e3.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <h6><del>$100</del> $70</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                    <input type="hidden" name="amount" value="70.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e4.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Digital Camera</a></h5>
                                <h6><del>$100</del> $80</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                    <input type="hidden" name="amount" value="80.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e4.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Digital Camera</a></h5>
                                <h6><del>$100</del> $80</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                    <input type="hidden" name="amount" value="80.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>5% <br> Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e3.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <h6><del>$100</del> $70</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                    <input type="hidden" name="amount" value="70.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>20%<br>Off</h6></div>
                            <a href="single.html"><img src="~/Images/App/e1.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Audio speaker</a></h5>
                                <h6><del>$200</del> $100</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                    <input type="hidden" name="amount" value="100.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-grids">
                        <div class="agile-products">
                            <div class="new-tag"><h6>New</h6></div>
                            <a href="single.html"><img src="~/Images/App/e2.png" class="img-responsive" alt="img"></a>
                            <div class="agile-product-text">
                                <h5><a href="single.html">Refrigerator</a></h5>
                                <h6><del>$700</del> $300</h6>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                    <input type="hidden" name="amount" value="300.00" />
                                    <button type="submit" class="w3ls-cart pw3ls-cart cazon-product"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- add-products -->
            <div class="w3ls-add-grids w3agile-add-products">
                <a href="#">
                    <h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <!-- //add-products -->
        </div>
        <div class="col-md-3 rsidebar">
            <div class="rsidebar-top">
                @Html.Partial("_PriceFilterSideBar")
                @Html.Partial("_ChildCategoriesSideBar")
                @Html.Partial("_DiscountFilterSideBar")
                @Html.Partial("_ProductColorSideBar")
            </div>
        </div>
        <div class="clearfix"> </div>
        <!-- recommendations -->
        @Html.Partial("_FeaturedProductsAsOwlCarousel", Model.CategoryFeatureProducts)
        <!-- //recommendations -->
    </div>
</div>
<!--//products-->

@section Scripts {
    <script type="text/javascript" src="~/Scripts/App/jquery.jscrollpane.min.js"></script>
    <script>
        $(function () {
            $('.scroll-pane').jScrollPane();
            Product.Init();
        });
    </script>
}


