﻿@model ViewProductDetailsDTO
@{
    ViewBag.Title = "ProductDetails";
}

<!-- breadcrumbs -->
<div class="container">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))">Home</a></li>
        <li class="active">Product Details</li>
    </ol>
    <div class="clearfix"> </div>
</div>
<!-- //breadcrumbs -->

<!-- products -->
<div class="products">
    <div class="container">
        <div class="single-page">
            <div class="single-page-row" id="detail-21">
                <div class="col-md-6 single-top-left">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            @foreach (var image in Model.ProductImages)
                            {
                            <li data-thumb="@($"{@CazonConstants.Cloudinary.GetProductImageUrl()}{image}")">
                                <div class="thumb-image detail_images">
                                    <img src="~/Images/loader.gif" data-src="@CazonConstants.Cloudinary.GetProductImageUrl()@image" class="img-responsive lazy-load" alt="@image">
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 single-top-right">
                    <h3 class="item_name">@Model.ProductName</h3>
                    <p>Processing Time: Item will be shipped out within 2-3 working days. </p>
                    <div class="single-rating">
                        <ul>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            <li class="rating">20 reviews</li>
                            <li><a href="#">Add your review</a></li>
                        </ul>
                    </div>
                    <div class="single-price">
                        <ul>
                            @if (Model.Discount > 0.0)
                            {
                                <li>@Model.DiscountedPrice PKR.</li>
                                <li><del>@Model.ProductPrice PKR.</del></li>
                                <li><span class="w3off">@Model.Discount% OFF</span></li>
                                if (Model.DiscountEndDate.HasValue)
                                {
                                    <li>Ends on: @Model.DiscountEndDate.Value.ToShortDateString()</li>
                                }
                            }
                            else
                            {
                                <li>@Model.ProductPrice PKR.</li>
                            }
                        </ul>
                    </div>
                    <p class="single-price-text">@Model.Description</p>
                    <button type="submit" class="w3ls-cart cazon-product" data-cazon-ProductId="@Model.ProductId"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                    <button class="w3ls-cart w3ls-cart-like"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wishlist</button>
                    <div class="single-page-icons social-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
                            <li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
                            <li><a href="#" class="fa fa-rss icon rss"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- collapse-tabs -->
        <div class="collpse tabs">
            <h3 class="w3ls-title">About this item</h3>
            <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-file-text-o fa-icon" aria-hidden="true"></i> Description <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> additional information <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i> reviews (5) <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> help <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //collapse -->

        <!-- recommendations -->
        @Html.Partial("_FeaturedProductsAsOwlCarousel", Model.CategoryFeatureProducts)
        
        <!-- //recommendations -->
        <!-- offers-cards -->
        <div class="w3single-offers offer-bottom">
            <div class="col-md-6 offer-bottom-grids">
                <div class="offer-bottom-grids-info2">
                    <h4>Special Gift Cards</h4>
                    <h6>More brands, more ways to shop. <br> Check out these ideal gifts!</h6>
                </div>
            </div>
            <div class="col-md-6 offer-bottom-grids">
                <div class="offer-bottom-grids-info">
                    <h4>Flat $10 Discount</h4>
                    <h6>The best Shopping Offer <br> On Fashion Store</h6>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //offers-cards -->
    </div>
</div>
<!--//products-->

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#recommendedProducts").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [414, 4],
                navigation: true
            });

            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });

            Product.Init();
        });
    </script>
}