﻿@model ViewCategoryProductsDTO
@{
    ViewBag.Title = "ViewProducts";
}

@section Styles{

}

<!-- breadcrumbs -->
<div class="container">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))">Home</a></li>
        <li class="active">View Products</li>
    </ol>
    <div class="clearfix"> </div>
</div>
<!-- //breadcrumbs -->
<!-- products -->
<div class="products">
    <div class="container">
        <div class="col-md-9 product-w3ls-right">
            <div class="product-top">
                <h4>@Model.CategoryName</h4>
                <ul>
                    <li class="dropdown head-dpdn" id="productSortBy">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-cazon-sortBy="@ProductSortBy.PriceAsc.ToString()">Low price</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.PriceDesc.ToString()">High price</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.Latest.ToString()">Latest</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.Popular.ToString()">Popular</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>

            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 col-sm-4 product-grids row-eq-height">
                        <div class="agile-products">
                            @if (product.Discount > 0.0)
                            {
                            <div class="new-tag"><h6>@product.Discount%<br/>Off</h6></div>
                            }
                            <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = product.ProductUrl })">
                                <img src="~/Images/loader.svg" data-src="@CazonConstants.Cloudinary.GetProductImageUrl(250, 250)@product.DefaultImageName" class="img-responsive lazy-load" alt="@product.DefaultImageName">
                            </a>
                            <div class="agile-product-text">
                                <h5><a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = product.ProductUrl })">@product.ProductName</a></h5>
                                @if (product.Discount > 0.0)
                                {
                                <h6><del>@product.ProductPrice PKR.</del> @product.DiscountedPrice PKR.</h6>
                                }
                                else
                                {
                                <h6>@product.ProductPrice PKR.</h6>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>
            <!-- add-products -->
            <div class="w3ls-add-grids w3agile-add-products lazy-load loading" data-src="../../Images/App/img1.jpg" data-lazy-class-remove="invisible">
                <a href="#" class="showAfterLoad invisible">
                    <h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <!-- //add-products -->
        </div>

        <div class="col-md-3 rsidebar">
            <div class="rsidebar-top">
                @Html.Partial("_PriceFilterSideBar")
                @Html.Partial("_ChildCategoriesSideBar")
                @Html.Partial("_DiscountFilterSideBar")
                @Html.Partial("_ProductColorSideBar")
            </div>
        </div>
        <div class="clearfix"> </div>
        <!-- recommendations -->
        @Html.Partial("_FeaturedProductsAsOwlCarousel", Model.CategoryFeatureProducts)
        <!-- //recommendations -->
    </div>
</div>
<!--//products-->

@section Scripts {
    <script src="~/Scripts/App/jquery.jscrollpane.min.js"></script>
    <script src="~/Scripts/jquery/jquery.matchHeight.js"></script>
    <script type='text/javascript'>
        $(function () {
            $("#recommendedProducts").owlCarousel();

            $('.scroll-pane').jScrollPane();
            $(".row-eq-height").matchHeight();

            var menu_ul = $('.faq > li > ul'),
                menu_a = $('.faq > li > a');

            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                }
                else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

            Product.Init();
            Product_ViewProducts.Init();
            SearchFilters.Init();
        });
    </script>
}