﻿@model CazonResult<Cazon.ViewModel.Common.Search.SearchProductResultDTO>
@{
    ViewBag.Title = "Search";
}

@section Styles{}

<!-- breadcrumbs -->
<div class="container">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))">Home</a></li>
        <li class="active">View Products</li>
    </ol>
    <div class="clearfix"> </div>
</div>
<!-- //breadcrumbs -->
<!-- products -->
<div class="products">
    <div class="container">
        <div class="col-md-9 product-w3ls-right">
            <div class="product-top">
                <h4>@Model.Result.SearchedProducts.Count Product@(Model.Result.SearchedProducts.Count > 1 ? "s":"") Found.</h4>
                <ul>
                    <li class="dropdown head-dpdn" id="productSortBy">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-cazon-sortBy="@ProductSortBy.PriceAsc.ToString()">Low price</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.PriceDesc.ToString()">High price</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.Latest.ToString()">Latest</a></li>
                            <li><a data-cazon-sortBy="@ProductSortBy.Popular.ToString()">Popular</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="row">
                @foreach (var product in Model.Result.SearchedProducts)
                {
                    <div class="col-md-4 product-grids row-eq-height">
                        <div class="agile-products">
                            @if (product.Discount > 0.0)
                            {
                                <div class="new-tag"><h6>@product.Discount%<br />Off</h6></div>
                            }
                            <a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = product.ProductUrl })">
                                <img src="@CazonConstants.Cloudinary.GetProductImageUrl(250, 250)@product.DefaultImageName" class="img-responsive" alt="@product.DefaultImageName">
                            </a>
                            <div class="agile-product-text">
                                <h5><a href="@Url.RouteUrl(RouteConfig.MapRouteNames.ViewProductDetailsRoute, new { productName = product.ProductUrl })">@product.ProductName</a></h5>
                                @if (product.Discount > 0.0)
                                {
                                    <h6><del>@product.ProductPrice PKR.</del> @product.DiscountedPrice PKR.</h6>
                                }
                                else
                                {
                                    <h6>@product.ProductPrice PKR.</h6>
                                }
                                <button class="w3ls-cart pw3ls-cart cazon-product" data-cazon-ProductId="@product.ProductId">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>
            <div class="w3ls-add-grids w3agile-add-products">
                <a href="#">
                    <h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
                    <h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <!-- //add-products -->
        </div>
        <div class="col-md-3 rsidebar">
            <div class="rsidebar-top">
                @Html.Partial("../Product/_PriceFilterSideBar")
                @*@Html.Partial("../Product/_ChildCategoriesSideBar")*@
                @Html.Partial("../Product/_DiscountFilterSideBar")
                @Html.Partial("../Product/_ProductColorSideBar")
            </div>
        </div>
        <div class="clearfix"> </div>
        <!-- recommendations -->
        @*@Html.Partial("_FeaturedProductsAsOwlCarousel", Model.CategoryFeatureProducts)*@
        <!-- //recommendations -->
    </div>
</div>
<!--//products-->

@section Scripts {
    <script type="text/javascript" src="~/Scripts/App/jquery.jscrollpane.min.js"></script>
    <script>
        $(function () {
            $('.scroll-pane').jScrollPane();
            Product.Init();
            SearchFilters.Init();
        });
    </script>
}

