﻿
@{
    ViewBag.Title = "Featured Products";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Content/App/Select2/select2.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/App/NgTable/ng-table.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/App/DateTimePicker/daterangepicker.css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Products <small>Home</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="@(Url.Action<FeaturedProductsController>(a => a.Index()))">Featured Products</a></li>
    </ol>
</section>
<!-- // Content Header (Page header) -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info box-solid" ng-app="cazon" ng-controller="FeaturedProductController">
                <div class="box-header">
                    <div class="pull-left">
                        <h3 class="box-title"><b>{{IsAdding ? 'Add Featured Product.' : IsEditing ? 'Edit Featured Product.' : 'Manage Products.'}}</b></h3>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-success btn-sm" title="Add..." ng-click="CreateNew();">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-success btn-sm" title="Refresh All..." ng-click="LoadData();">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="has-error text-danger" ng-show="FeaturedProductForm.$error.length > 0">
                        <ul>
                            <li ng-repeat="error in FeaturedProductForm.$error">{{error}}</li>
                        </ul>
                    </div>

                    <div ng-class="{hidden:IsEditing || IsAdding}">
                        <table class="table table-bordered table-striped table-hover" show-filter="true" ng-table="TableParams" ng-hide="IsEditing">
                            <tr ng-repeat="product in $data track by product.Id">
                                <td data-title="'Product Name'" filter="{ProductName: 'text'}" sortable="'ProductName'">
                                    {{product.ProductId}} - {{product.ProductName}}
                                </td>
                                <td data-title="'Start From'" filter="{StartFrom: 'text'}" sortable="'StartFrom'">
                                    {{FormatDate(product.StartFrom)}}
                                </td>
                                <td data-title="'End On'" filter="{EndOn: 'text'}" sortable="'EndOn'">
                                    {{FormatDate(product.EndOn)}}
                                </td>
                                <td data-title="'Actions'">
                                    <button class="btn btn-sm btn-primary" ng-click="EditFeaturedProduct(product.Id);">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="RemoveFromFeaturedProduct(product.Id, $index);">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div ng-class="{hidden:!(IsEditing || IsAdding)}">
                        <form name="FeaturedProductForm">
                            <div class="col-md-12">
                                <div class="form-group" ng-show="IsEditing">
                                    <label>Product Name</label>
                                    <input type="text" placeholder="Product Name" class="form-control" ng-model="EditModel.EditingFeaturedProduct.ProductName" disabled />
                                </div>

                                <div class="form-group" ng-class="{hidden: IsEditing}">
                                    <label>Product Name</label>
                                    <select class="form-control select2" id="productLists" onchange="angular.element(this).scope().SetProduct(this)"></select>
                                </div>

                                <div class="form-group">
                                    <label>Start From</label>
                                    <input type="datetime" placeholder="Start From" class="form-control" ng-model="EditModel.EditingFeaturedProduct.StartFrom" />
                                </div>

                                <div class="form-group">
                                    <label>End On</label>
                                    <input type="datetime" placeholder="End On" class="form-control" ng-model="EditModel.EditingFeaturedProduct.EndOn" />
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-success" ng-click="CancelChanges();" onclick="$('#productLists').val([]).trigger('change');">Cancel Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-success" ng-click="SaveChanges();">Save Product</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="overlay" ng-class="{hidden:!Processing}">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/App/Select2/select2.full.min.js"></script>
    <script src="~/Scripts/App/NgTable/ng-table.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/App/DateTimePicker/daterangepicker.js"></script>
    <script src="~/Scripts/Modules/Services/FeaturedProductService.js"></script>
    <script src="~/Scripts/Modules/Controllers/FeaturedProductController.js"></script>

    <script>
        $(function () {
            $("input[type='datetime']").daterangepicker({
                timePicker: true,
                timePickerIncrement: 15,
                singleDatePicker: true,
                showDropdowns: true,
                minDate: moment(),
                locale: {
                    format: 'MM/DD/YYYY h:mm a'
                }
            });

            $.fn.select2.defaults.set("pk-prop", "Key");
            $.fn.select2.defaults.set("text-prop", "Value");

            $(".select2").select2({
                width: "100%",
                placeholder: {
                    id: -1,
                    text: 'Enter product to search'
                },
                minimumInputLength: 3,
                ajax: {
                    url: '/FeaturedProducts/GetProductsForSelect',
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            searchTerm: params.term,
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var results = data["Success"][0];

                        results = $.map(results, function (obj) {
                            obj.id = obj.id || obj.Key;
                            obj.text = obj.text || obj.id + " - " + obj.Value;

                            return obj;
                        });
                        return {
                            results: results
                        };
                    },
                    cache: false,
                    delay: 500
                }
            });
        });
    </script>
}
