﻿@{
    ViewBag.Title = "Product Category - Home";
}

@section Styles {
    <link href="~/Content/App/Select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/App/NgTable/ng-table.min.css" rel="stylesheet" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Product Category
        <small>Home</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@(Url.Action<HomeController>(a => a.Index()))"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="@(Url.Action<ProductCategoryController>(a => a.Index()))">Product Category</a></li>
    </ol>
</section>
<!-- // Content Header (Page header) -->

<!-- Page content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info box-solid" ng-app="cazon" ng-controller="ProductCategoryController">
                <div class="box-header">
                    <div class="pull-left">
                        <h3 class="box-title"><b>All Product Categories.</b></h3>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-success btn-sm" title="Create New..." data-toggle="modal" data-target="#editModal" ng-click="CreateNew();">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-success btn-sm" title="Refresh All..." ng-click="LoadData();">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table ng-table="TableParams" class="table table-bordered table-striped table-hover" show-filter="true">
                        <tr ng-repeat="category in $data track by category.CategoryId">
                            <td data-title="'Category Id'" sortable="'CategoryId'">
                                {{category.CategoryId}}
                            </td>
                            <td data-title="'Category Name'" filter="{CategoryName: 'text'}" sortable="'CategoryName'">
                                {{category.CategoryName}}
                            </td>
                            <td data-title="'Icon Name'" filter="{IconName: 'text'}">
                                {{category.IconName}}
                            </td>
                            <td data-title="'Order Number'" sortable="'OrderNumber'">
                                {{category.OrderNumber}}
                            </td>
                            <td data-title="'Actions'">
                                <button class="btn btn-sm btn-primary" ng-click="Edit(category.CategoryId);" data-toggle="modal" data-target="#editModal">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="Delete(category.CategoryId);">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->

                <div class="overlay" ng-class="{hidden:!Processing}">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>

                <div class="modal fade" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CancelChanges();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"><b>{{IsEditing ? 'Edit Category' : IsAdding ? 'Add Category' : ''}}&hellip;</b></h4>
                            </div>

                            <div class="modal-body">
                                <form role="form" name="editProductCategoryForm">
                                    <div class="has-error text-danger" ng-show="editProductCategoryForm.$valid && editProductCategoryForm.$error.length > 0">
                                        <ul>
                                            <li ng-repeat="error in editProductCategoryForm.$error">{{error}}</li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Category Name</span>
                                            <input type="text" class="form-control" id="CategoryName" placeholder="Enter Category Name..." ng-model="EditModel.EditingCategory.CategoryName" ng-required ng-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Icon Name</span>
                                            <input type="text" class="form-control" id="IconName" placeholder="Enter Icon Name..." ng-model="EditModel.EditingCategory.IconName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Order Number</span>
                                            <input type="number" min="0" class="form-control" id="OrderNumber" placeholder="Enter Order Number..." ng-model="EditModel.EditingCategory.OrderNumber">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Parent Category.</span>
                                            <select class="form-control select2" id="ParentCategoryId"
                                                    ng-model="EditModel.SelectedParentCategory"
                                                    ng-options="category.CategoryName disable when category.CategoryId == EditModel.EditingCategory.CategoryId for category in ProductCategories track by category.CategoryId"></select>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="CancelChanges();">Cancel.</button>
                                <button type="button" class="btn btn-primary" ng-click="SaveCategory();">Save Changes.</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /eidtmodal -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- // Page content -->

@section Scripts {
    <script src="~/Scripts/App/NgTable/ng-table.min.js"></script>
    <script src="~/Scripts/App/Select2/select2.full.min.js"></script>
    <script src="~/Scripts/Modules/Services/ProductCategoryService.js"></script>
    <script src="~/Scripts/Modules/Controllers/ProductCategoryController.js"></script>
    <script>
        $(function () {
            $(".select2").select2({
                width: "100%"
            });
        });
    </script>
}


